<div class="login-container">
  <div class="login-card">

    <div class="login-header">
      <h1>Welcome Back</h1>
      <p>Login to access your Project Management System</p>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="isLogin(loginForm)">


      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel placeholder="Enter your email" required email
          #email="ngModel" />
      </div>
      <div class="error" *ngIf="  email.invalid && email.touched">
        * Enter a valid email address
      </div>


      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel placeholder="Enter your password" required
          #password="ngModel" />
      </div>

      <div class="error" *ngIf=" password.invalid && password.touched">
        * Password must be at least 6 characters
      </div>

      <div class="remember-me">
        <input type="checkbox" id="remember" />
        <label for="remember">Remember Me</label>
      </div>


      <button type="submit" class="btn-login">Login</button>


      <div class="login-footer">
        <a routerLink="/forgot-password">Forgot Password?</a>
        <span> | </span>
        <a routerLink="/register">Create Account</a>
      </div>

    </form>
  </div>
  <div class="popup-overlay" *ngIf="error">
    <div class="popup-box">
      <h3>Error</h3>
      <p>{{ error }}</p>

      <button class="close-btn" (click)="error=''">Close</button>
    </div>
  </div>
</div>