/* You can add global styles to this file, and also import other style files */
:root {
  --bg-dark: #0d0f14;
  --bg-light: #1a1c23;
  --primary: #e50914;
  --text: #ffffff;
  --text-muted: #b5b5b5;
  --radius: 12px;
}

body {
  background: var(--bg-dark);
  color: var(--text);
  margin: 0;
  font-family: "Poppins", sans-serif;
}
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}